/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;

}

/* Estilos del Header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8e8e8e;
    color: white;
    padding: 2rem 0; /* Más espacio vertical */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h2 {
    font-size: 5rem;
    position: absolute !important;
    margin-bottom: 0.5rem;
}
.border {
    color:rgb(255, 255, 255);
    text-shadow:
        -1px -1px 0 white,
        1px -1px 0 white,
        1px 1px 0 white,
        -1px 1px 0 white;
}
.wave {
    color: #09f;
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
    0%, 100% {
        clip-path: polygon(
            0% 47%,
            10% 48%,
            33% 54%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 52%,
            100% 100%,
            0% 100%
        );
    }
    50% {
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 62%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }
}
nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #5cd7f9;
}


/* Mensajes de error y éxito */
.error, .success {
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
    border-radius: 4px;
}

.error {
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
}

.success {
    background-color: #ddffdd;
    color: #4caf50;
    border: 1px solid #4caf50;
}

/* Estilos del Footer */
footer {
    margin-top: auto; /* Empuja el footer hacia abajo si el contenido no llena la ventana */
    background-color: #878787;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}


footer p {
    margin: 0;
}
